body {
  display: flex;
  justify-content: center;
  animation: breathing 60s infinite;
}
table {
  width: 100%;
  height: 500px;
  border-spacing: 0;
}
td {
  border-right: 2px solid;
  border-bottom: 2px solid;
  height: 33%;
  width: 30%;
  text-align: center;
  font-size: xx-large;
  font-family: sans-serif;
  font-weight: bold;
}
tr td:last-child {
  border-right: 0;
}
tr:last-child td {
  border-bottom: 0;
}

p {
  text-align: center;
  font-size: xx-large;
  font-family: sans-serif;
}

div button {
  width: 100px;
  height: 50px;
  border-radius: 5px;
}

#reset-btn {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 50px;
  width: 200px;
  font-size: x-large;
  margin-bottom: 20px;
  background-color: hotpink;
  border: 1px solid;
}

#status {
  margin-top: 5%;
}

#difficulty {
  display: none;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

#hard {
  animation: glowing 1s infinite;
  border-color: transparent;
}

#medium {
  border-color: #FF5722;
  background-color: #FF5722;
}

#easy {
  border-color: #64DD17;
  background-color: #64DD17;
}

#play-local {
  background-color: black;
  color: white;
  border: unset;
}

#play-bot {
  background-color: white;
  border: unset;
}

.play {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.score-container {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  margin: 20px 0 20px 0;
  border: 1px solid;
  border-radius: 10px;
  background-color: #F5F5F5;
}

.content {
  width: 500px;
  margin-top: 20px;
}

@keyframes breathing {
  0% {
    background-color: #F44336;
  }
  25%{
    background-color: #FF9800;
  }
  50%{
    background-color: #4CAF50;
  }
  75%{
    background-color: #3F51B5;
  }
  100% {
    background-color: #F44336;
  }
}

@keyframes glowing {
  0% {
    background-color: #B20000;
    box-shadow: 0 0 3px #B20000;
  }
  50% {
    background-color: #FF0000;
    box-shadow: 0 0 40px #FF0000;
  }
  100% {
    background-color: #B20000;
    box-shadow: 0 0 3px #B20000;
  }
}
